---
layout: default
---

<h2>I'm Here</h2>
<p>Start coding from now!</p>

<hr>

<ol>
  {% for vertebrate in site.data.animals %}
  <li>
    <a href="{{site.baseurl}}/vertebrates/{{vertebrate.folder}}">{{vertebrate.title}}</a>
    <p>{{vertebrate.content | markdownify}}</p>
  </li>
  {% endfor %}
</ol>

<hr>

<h2><small>Check This Out</small></h2>

<ul>
  {% for news in site.posts limit:3 %}
    <li>
      <a href="{{site.baseurl}}{{news.url}}">{{news.title}}</a>
      <p>{{news.meta}}</p>
    </li>
  {% endfor %}
</ul>
