<hr>
<nav>
  <div class="nav {{include.navclass}}">
    <a href="{{site.baseurl}}/index.html" class="{% if page.url == '/index.html' %}current{% endif %}">Home</a>
    <a href="{{site.baseurl}}/about.html" class="{% if page.url == '/about.html' %}current{% endif %}">About</a>
    <a href="{{site.baseurl}}/news.html" class="{% if page.url contains 'news' or page.url contains 'blog' %}current{% endif %}">News</a>
    <a href="{{site.baseurl}}/vertebrates/index.html" class="{% if page.url contains 'vertebrates' %}current{% endif %}">Test</a>
  </div>
</nav>
<hr>
