.masthead {
  padding: 1em;
  background: url("../img/47548825-milky-way-wallpaper.jpeg") no-repeat center center;
  background-size: cover;
  color: #fff
}

.masthead-vertebrates {
  padding: 1em;
  background: url("../img/IMG_6043.JPG") no-repeat center center;
  background-size: cover;
  color: #fff
}
